<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- ALTER TABLE hijoin.sps_stock CONVERT TO CHARACTER SET utf8 COLLATE utf8_general_ci; 
		ALTER DATABASE hijoin CHARACTER SET utf8 COLLATE utf8_general_ci; commit; -->



	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/taller?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;characterSetResults=utf8&amp;connectionCollation=utf8_general_ci" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<!-- matta617 -->
	   	<property name="initialSize" value="5"/>
	    <property name="maxActive" value="10"/>
	    <property name="maxIdle" value="5"/>
	    <property name="minIdle" value="5"/>
	    <property name="maxWait" value="-1"/>
	    <property name="minEvictableIdleTimeMillis" value="600000"/>	    
	    <property name="validationQuery" value="SELECT 1" />
		<property name="testOnBorrow" value="true" />	
	</bean>
	
 

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

 
	<bean id="vendedorDao" class="cl.lai.manager.taller.dao.VendedorDao">
		<property name="template" ref="jdbcTemplate" />
	</bean>
	 

	<bean id="vendedorService" class="cl.lai.manager.taller.service.VendedorService">
		<property name="vendedorDao"  >
			<ref bean="vendedorDao"/>
		</property>
	</bean>

 
	
</beans>